<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iRobot">
       
  <!-- MODELS -->
  <xacro:include filename="$(find create_robot_description)/urdf/materials.urdf"/>
  <xacro:include filename="$(find create_robot_description)/urdf/wheel.urdf.xacro"/>
  <xacro:include filename="$(find create_robot_description)/urdf/iRobot.gazebo.xacro"/>
  <xacro:include filename="$(find create_robot_description)/urdf/wheel.gazebo.xacro"/>

  <xacro:include filename="$(find realsense2_description)/urdf/mount_t265_d435.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_t265.urdf.xacro" />

  <xacro:property name="pi" value="3.1415926535897931"/>
  <xacro:property name="wheel_mass" value="0.25"/>
  <xacro:property name="sphere_mass" value="0.1"/>
  
    <link name="chassis">
        <inertial>
            <origin xyz="0.001453 -0.000453 0.029787" rpy="0 0 0"/>
            <mass value="5"/>
                <inertia ixx="0.058640" ixy="0.000124" ixz="0.000615" 
                iyy="0.058786" iyz="0.000014" izz="1.532440"/> 
        </inertial>
        <visual>
            <origin xyz="0 0 0.047800" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://create_robot_description/urdf/meshes/create_body.dae" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.047800" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://create_robot_description/urdf/meshes/create_body.dae" />
            </geometry>
        </collision>
    </link>
 
    <xacro:model_wheel name="left_wheel" 
                        parent="chassis"
                        radius="0.033"
                        width="0.023"
                        mass="${wheel_mass}"
                        origin="0 0.130000 0.032000"
                        ixx="0.001000"
                        iyy="0.001000"
                        izz="0.001000">
    </xacro:model_wheel>

    <xacro:model_wheel name="right_wheel" 
                        parent="chassis"
                        radius="0.033"
                        width="0.023"
                        mass="${wheel_mass}"
                        origin="0 -0.130000 0.032000"
                        ixx="0.001000"
                        iyy="0.001000"
                        izz="0.001000">
    </xacro:model_wheel>

    <joint name="sphere_joint1" type="revolute">
        <origin xyz="0.14 0 0.012000" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="0" upper="0" effort="100" velocity="100"/>
        <parent link="chassis"/>
        <child link="sphere1"/>
    </joint>
    <link name="sphere1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${sphere_mass}"/>
            <inertia ixx="${2*sphere_mass*0.01*0.01/5}" ixy="0.0" ixz="0.0" iyy="${2*sphere_mass*0.01*0.01/5}" iyz="0.0" izz="${2*sphere_mass*0.01*0.01/5}"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.016"/>
            </geometry>
            <material name="iRobot/Black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.016"/>
            </geometry>
        </collision>
    </link>

    <joint name="sphere_joint2" type="revolute">
        <origin xyz="-0.14 0 0.012000" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="0" upper="0" effort="100" velocity="100"/>
        <parent link="chassis"/>
        <child link="sphere2"/>
    </joint>
    <link name="sphere2">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${sphere_mass}"/>
            <inertia ixx="${2*sphere_mass*0.01*0.01/5}" ixy="0.0" ixz="0.0" iyy="${2*sphere_mass*0.01*0.01/5}" iyz="0.0" izz="${2*sphere_mass*0.01*0.01/5}"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.016"/>
            </geometry>
            <material name="iRobot/Black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.016"/>
            </geometry>
        </collision>
    </link>
    <xacro:iRobot_gazebo />

    <rsMount parent="chassis">
        <origin xyz="0.09 0 0.075" rpy="0 0 0"/>
    </rsMount>

    <sensor_d435 parent="mount_link">
        <origin xyz="0 0 0.0157" rpy="0 0 0"/>
    </sensor_d435>

    <sensor_t265 parent="mount_link">
        <origin xyz="0.01 -0.01 -0.012" rpy="0 0 0"/>
    </sensor_t265>
    <!-- 
        

    

    -->
</robot>
